<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/Admin/css/admin-style.css">
</head>
<body>
<div class="header">
    <h1 class="logo">Admin Panel</h1>
    <nav class="menu">
        <a href="#" class="menu-item">Home</a>
        <a href="#" class="menu-item">About</a>
        <a href="#" class="menu-item">Contact</a>
    </nav>
</div>
<div class="admin-panel">
    <div class="sidebar">
        hallo aside
    </div>
    <div class="content">
       
        @RenderBody()
    </div>
</div>
<footer class="footer">
    <p class="footer-text">&copy; 2022 Your Company. All rights reserved.</p>
</footer>
</body>
</html>